pre.rouge, pre.pygments .hll { background-color: #ffffcc }
pre.rouge, pre.rouge code, pre.pygments, pre.pygments code { background: #f8f8f8; }
pre.rouge .c, pre.pygments .tok-c { color: #408080; font-style: italic } /* Comment */
pre.rouge .err, pre.pygments .tok-err { border: 1px solid #FF0000 } /* Error */
pre.rouge .k, pre.pygments .tok-k { color: #008000; font-weight: bold } /* Keyword */
pre.rouge .o, pre.pygments .tok-o { color: #666666 } /* Operator */
pre.rouge .ch, pre.pygments .tok-ch { color: #408080; font-style: italic } /* Comment.Hashbang */
pre.rouge .cm, pre.pygments .tok-cm { color: #408080; font-style: italic } /* Comment.Multiline */
pre.rouge .cp, pre.pygments .tok-cp { color: #BC7A00 } /* Comment.Preproc */
pre.rouge .cpf, pre.pygments .tok-cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
pre.rouge .c1, pre.pygments .tok-c1 { color: #408080; font-style: italic } /* Comment.Single */
pre.rouge .cs, pre.pygments .tok-cs { color: #408080; font-style: italic } /* Comment.Special */
pre.rouge .gd, pre.pygments .tok-gd { color: #A00000 } /* Generic.Deleted */
pre.rouge .ge, pre.pygments .tok-ge { font-style: italic } /* Generic.Emph */
pre.rouge .gr, pre.pygments .tok-gr { color: #FF0000 } /* Generic.Error */
pre.rouge .gh, pre.pygments .tok-gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.rouge .gi, pre.pygments .tok-gi { color: #00A000 } /* Generic.Inserted */
pre.rouge .go, pre.pygments .tok-go { color: #888888 } /* Generic.Output */
pre.rouge .gp, pre.pygments .tok-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre.rouge .gs, pre.pygments .tok-gs { font-weight: bold } /* Generic.Strong */
pre.rouge .gu, pre.pygments .tok-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.rouge .gt, pre.pygments .tok-gt { color: #0044DD } /* Generic.Traceback */
pre.rouge .kc, pre.pygments .tok-kc { color: #008000; font-weight: bold } /* Keyword.Constant */
pre.rouge .kd, pre.pygments .tok-kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
pre.rouge .kn, pre.pygments .tok-kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
pre.rouge .kp, pre.pygments .tok-kp { color: #008000 } /* Keyword.Pseudo */
pre.rouge .kr, pre.pygments .tok-kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
pre.rouge .kt, pre.pygments .tok-kt { color: #B00040 } /* Keyword.Type */
pre.rouge .m, pre.pygments .tok-m { color: #666666 } /* Literal.Number */
pre.rouge .s, pre.pygments .tok-s { color: #BA2121 } /* Literal.String */
pre.rouge .na, pre.pygments .tok-na { color: #7D9029 } /* Name.Attribute */
pre.rouge .nb, pre.pygments .tok-nb { color: #008000 } /* Name.Builtin */
pre.rouge .nc, pre.pygments .tok-nc { color: #0000FF; font-weight: bold } /* Name.Class */
pre.rouge .no, pre.pygments .tok-no { color: #880000 } /* Name.Constant */
pre.rouge .nd, pre.pygments .tok-nd { color: #AA22FF } /* Name.Decorator */
pre.rouge .ni, pre.pygments .tok-ni { color: #999999; font-weight: bold } /* Name.Entity */
pre.rouge .ne, pre.pygments .tok-ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre.rouge .nf, pre.pygments .tok-nf { color: #0000FF } /* Name.Function */
pre.rouge .nl, pre.pygments .tok-nl { color: #A0A000 } /* Name.Label */
pre.rouge .nn, pre.pygments .tok-nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre.rouge .nt, pre.pygments .tok-nt { color: #008000; font-weight: bold } /* Name.Tag */
pre.rouge .nv, pre.pygments .tok-nv { color: #19177C } /* Name.Variable */
pre.rouge .ow, pre.pygments .tok-ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre.rouge .w, pre.pygments .tok-w { color: #bbbbbb } /* Text.Whitespace */
pre.rouge .mb, pre.pygments .tok-mb { color: #666666 } /* Literal.Number.Bin */
pre.rouge .mf, pre.pygments .tok-mf { color: #666666 } /* Literal.Number.Float */
pre.rouge .mh, pre.pygments .tok-mh { color: #666666 } /* Literal.Number.Hex */
pre.rouge .mi, pre.pygments .tok-mi { color: #666666 } /* Literal.Number.Integer */
pre.rouge .mo, pre.pygments .tok-mo { color: #666666 } /* Literal.Number.Oct */
pre.rouge .sa, pre.pygments .tok-sa { color: #BA2121 } /* Literal.String.Affix */
pre.rouge .sb, pre.pygments .tok-sb { color: #BA2121 } /* Literal.String.Backtick */
pre.rouge .sc, pre.pygments .tok-sc { color: #BA2121 } /* Literal.String.Char */
pre.rouge .dl, pre.pygments .tok-dl { color: #BA2121 } /* Literal.String.Delimiter */
pre.rouge .sd, pre.pygments .tok-sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
pre.rouge .s2, pre.pygments .tok-s2 { color: #BA2121 } /* Literal.String.Double */
pre.rouge .se, pre.pygments .tok-se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre.rouge .sh, pre.pygments .tok-sh { color: #BA2121 } /* Literal.String.Heredoc */
pre.rouge .si, pre.pygments .tok-si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre.rouge .sx, pre.pygments .tok-sx { color: #008000 } /* Literal.String.Other */
pre.rouge .sr, pre.pygments .tok-sr { color: #BB6688 } /* Literal.String.Regex */
pre.rouge .s1, pre.pygments .tok-s1 { color: #BA2121 } /* Literal.String.Single */
pre.rouge .ss, pre.pygments .tok-ss { color: #19177C } /* Literal.String.Symbol */
pre.rouge .bp, pre.pygments .tok-bp { color: #008000 } /* Name.Builtin.Pseudo */
pre.rouge .fm, pre.pygments .tok-fm { color: #0000FF } /* Name.Function.Magic */
pre.rouge .vc, pre.pygments .tok-vc { color: #19177C } /* Name.Variable.Class */
pre.rouge .vg, pre.pygments .tok-vg { color: #19177C } /* Name.Variable.Global */
pre.rouge .vi, pre.pygments .tok-vi { color: #19177C } /* Name.Variable.Instance */
pre.rouge .vm, pre.pygments .tok-vm { color: #19177C } /* Name.Variable.Magic */
pre.rouge .il, pre.pygments .tok-il { color: #666666 } /* Literal.Number.Integer.Long */
