---
layout: default
---

<div class="home">
  <h2>Stuff</h2>

  <ul class="post-list">
    {% for item in site.stuff %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Blog</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span><a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
